button:hover{
    background-color: #3e4144;
}

button:focus{
    outline: none;
}
.p-1{
   padding: 1px; 
}

.row{
    display: flex;
}
.col{
    flex-grow: 1;
    margin-right: 10px;
}
input{
    display: block;
    margin: 5px;
}